
    <!-- footer -->
    <footer class = "footer w-100">
        <div class = "row">

          <div class = "col">
            <h3 class = "footer-title">REDES</h3>
            <p class = "text"></p>
            <div class = "social-links">
              <a href = "#"><i class = "fab fa-twitter"></i></a>
              <a href = "#"><i class = "fab fa-facebook"></i></a>
              <a href = "#"><i class = "fab fa-instagram"></i></a>
            </div>
          </div>
   
          <div class = "col">
            <h3 class = "footer-title">CV</h3>
            <div class = "footer-links">             
                <!-- <h3>120 <span>Project complete</span></h3> -->
                <a class = "btn-green" href="../../assets/docs/curriculum.pdf" download="Doc PDF">download cv</a>
            </div>
          </div>
  
          <div class = "col">
            <h3 class = "footer-title">+ INFORMACION</h3>
            <div>
              <span>
                <i class = "fas fa-map-marker-alt"></i>
              </span>
              <span class = "text">Loberia - Prov Bs.As - Argentina</span>
            </div>
  
            <div>
              <span>
                <i class = "fas fa-phone"></i>
              </span>
              <span class = "text">+(54) 2262 - 314366</span>
            </div>
  
            <div>
              <span>
                <i class = "fas fa-envelope"></i>
              </span>
              <span class = "text">gabrielmatiasquattrini@gmail.com
              </span>
            </div>
          </div> 
        </div>
  
        <div class = "footer-text">
          <p class = "text ">Copyright &copy; 2022 All rights reserved | Awesome Template Design</p>
        </div>
      
    </footer>
  <!-- end of footer -->
  