<section id="educacion" class="educacion p-4">

  <div class="container">

    <div class="row">
   
      <div class="col-3 p-4" data-aos="flip-left">
        <div class="justify-content-center text-center">
          <h1>EDUCACIÓN</h1>
          <div class="logo-edu"></div>
          <div *ngIf="active()" class="col-md-12">
            <button (click)="openNewEdu(mymodalEduNew)" class="btn btn-outline-success w-100 p-2">Agregar Titulos/Cursos</button>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class=" p-4 m-4 shadow rounded bg-color" *ngFor="let edu of eduList" data-aos="flip-left">

          <section class="resume container education">
            <div class="row ">
              <div class="item">
                <div class="icon">
                  <i class="fas fa-graduation-cap"></i>
                </div>

                <ng-container *ngIf="edu.status === 'En Progreso' ;else second">
                  <h2>{{edu.name}} - <span class="span2"> {{edu.status}}</span></h2>
                </ng-container>
      
                <ng-template #second>
                  <h2>{{edu.name}} - <span> {{edu.status}}</span></h2>
                </ng-template>
              
                <p class="text">{{edu.institute}}</p>
                <div *ngIf="active()">
                  <button type="button" class="btn btn-outline-warning w-50" (click)="openModalTitle(mymodalEdu,edu)">Editar <i
                      class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-outline-danger w-50" (click)="deleteEdu(edu.idTitle)">Eliminar <i
                      class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
           
          </section>

        </div>
      </div>

    </div>
   
  </div>


  <!-- Model Edit Education -->
  <ng-template #mymodalEdu let-modal>
    <div class="modal-header form-modal bg-modal">
      <h4 class="modal-title" id="modal-basic-title">Editar Dato Titulo</h4>
      <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="white" aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body form-modal bg-modal">
      <div class="modal-body form-modal">
        <div>
          <p >INSTITUCIÓN: <span>{{eduAux.institute}}</span></p>
          <input class="w-100 text-dark" type="text" placeholder="Institucion" [(ngModel)]="eduEdit.institute">
        </div>
        
      <p></p>
        <div>
          <p >TITULO: <span>{{eduAux.name}}</span></p>
          <input class="w-100 text-dark" type="text" placeholder="titulo" [(ngModel)]="eduEdit.name">
        </div>
        
      <p></p>
        <div>
          <p>ESTADO: <span>{{eduAux.status}}</span> </p>
          <select class="custom-select custom-select-lg mb-3 form-control w-100 text-dark" [(ngModel)]="eduEdit.status">
            <option class=" text-dark" selected value="En Progreso">En_Progreso</option>
            <option class=" text-dark" value="Completo">Completo</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer form-modal bg-modal">
      <button *ngIf="active()" type="button" class="btn btn-outline-success" (click)="modal.close(editEdu())">Guardar</button>
    </div>
  </ng-template>

  <!-- Model New Education -->
  <ng-template #mymodalEduNew let-modal>
    <div class="modal-header form-modal bg-modal">
      <h4 class="modal-title" id="modal-basic-title">Agregar Informacion Titulo</h4>
      <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="white" aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body form-modal bg-modal">
      <div>
        <p class="text-uppercase">Institución</p>
        <input class="w-100 text-dark" type="text" placeholder="Institucion" [(ngModel)]="edu.institute">
      </div>
      <p></p>
      <div>
        <p class="text-uppercase">Titulo</p>
        <input class="w-100 text-dark" type="text" placeholder="titulo" [(ngModel)]="edu.name">
      </div>
      <p></p>
      <div>
        <p class="text-uppercase">Estado</p>
        <select class="custom-select custom-select-lg mb-3 form-control w-100 text-dark" [(ngModel)]="edu.status">
          <option class=" text-dark" selected value="En Progreso">En Progreso</option>
          <option class=" text-dark" value="Completo">Completo</option>
        </select>
      </div>
    </div>
    <div class="modal-footer form-modal bg-modal">
      <button *ngIf="active()" type="button" class="btn btn-outline-success" (click)="modal.close(saveEdu())">Guardar</button>
    </div>
  </ng-template>

</section>