<section id="proyectos" class="proyectos">
  <div class="p-4">
    <div class="container p-4">

      <div class="row">
        <div class="col-3" data-aos="fade-up-left">
          <h1>PROYECTOS</h1>
          <div class="logo-proj"></div>

          <div class="row g-0">
            <div *ngIf="active()" class="col-md-12">
              <button (click)="openModalProyect(mymodalProyect)" class="btn btn-outline-success w-100 p-2">Agregar Info
                Proyecto</button>
            </div>
          </div>

        </div>

        <div class="col-9" data-aos="fade-up-left">

          <!-- blog page -->
          <section class="blog container project ">
            <div class="row">
              <div class="item p-2 shadow rounded bg-color" *ngFor="let p of proyectList" data-aos="fade-up-left">
                <div class="item-img">
                  <img [src]="p.imgProyect" width="450" height="250" class="rounded mx-auto d-block" [alt]="p.name">
                </div>
                <div class="item-content">
                  <h2>{{p.name}}</h2>
                  <p class="text">{{p.description}}</p>


                  <div class="nav-item">
                    <a [href]="p.link" class="nav-link">Visitar</a>
                  </div>
                  <div *ngIf="active()">
                    <button type="button" class="btn btn-outline-warning w-50"
                      (click)="openModal(mymodalProyectEdit, p)">Editar <i class="fa fa-pencil"
                        aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-danger w-50"
                      (click)="delteProyect(p.id_proyect,p.imgId)">Eliminar <i class="fa fa-trash"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>

    <!-- Model Edit -->
    <ng-template #mymodalProyectEdit let-modal>
      <div class="modal-header form-modal">
        <h4 class="modal-title" id="modal-basic-title">Editar Dato Proyecto</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body form-modal">
        <div>
          <p>Nombre</p>
          <input type="text" placeholder="Nombre Proyecto" [(ngModel)]="pEdit.name">
        </div>
        <p></p>
        <div>
          <p for="description">Descripcion: </p>
          <textarea class="w-100" [(ngModel)]="pEdit.description" name="description"
            placeholder="Descripcion de puesto y trabajo" required></textarea>
        </div>
        <p></p>
        <div>
          <p for="description">Link: </p>
          <input name="description" placeholder="url" required [(ngModel)]="pEdit.link">
        </div>
        <p></p>
        <p></p>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Vista previa</label>
          <input type="file" class="form-control" (change)="seleccionarFoto($event)" id="inputGroupFile01"
            placeholder="cargar">
        </div>
      </div>
      <div class="modal-footer form-modal">
        <button type="button" class="btn btn-success" (click)="modal.close(editProyect())">Guardar Cambios</button>
      </div>
    </ng-template>

    <!-- Model New -->
    <ng-template #mymodalProyect let-modal>
      <div class="modal-header form-modal">
        <h4 class="modal-title" id="modal-basic-title">Nuevo Datos Proyecto</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body form-modal">
        <div>
          <p>Nombre</p>
          <input type="text" placeholder="Nombre Proyecto" [(ngModel)]="p.name">
        </div>
        <p></p>
        <div>
          <p for="description">Descripcion: </p>
          <textarea class="w-100" [(ngModel)]="p.description" name="description"
            placeholder="Descripcion de puesto y trabajo" required></textarea>
        </div>
        <p></p>
        <div>
          <p for="description">Link: </p>
          <input name="description" placeholder="url" required [(ngModel)]="p.link">
        </div>
        <p></p>
        <p></p>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Vista previa</label>
          <input type="file" class="form-control" (change)="seleccionarFoto($event)" id="inputGroupFile01"
            placeholder="cargar">
        </div>
      </div>
      <div class="modal-footer form-modal">
        <button type="button" class="btn btn-success" (click)="modal.close(saveProyect())">Guardar</button>
      </div>
    </ng-template>

  </div>

</section>