<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.argentina.gob.ar/node/249094"> <img src="../../assets/img/APLogo.png" width="" height="100" class="rounded mx-auto d-block" alt="logo argentina programa"></a>
    
    <button class="navbar-toggler text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center " id="navbarSupportedContent">
   
        <ul class="navbar-nav me-auto mb-4 mb-lg-0 justify-content-center">
          <li class="nav-item">
            <a class="p-2 nav-link" aria-current="page" href="#experiencia">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="p-2 nav-link" aria-current="page" href="#educacion">EDUCACIÓN</a>
          </li>
          <li class="nav-item">
            <a class="p-2 nav-link" aria-current="page" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="p-2 nav-link" aria-current="page" href="#proyectos">Proyectos</a>
          </li>
        </ul>

        <section *ngIf="!active()" class="nav-item">
          <a class="p-2 nav-link" [routerLink]="['/login']" type="submit"> LOGIN <i class="fas fa-sign-in-alt i-grenn"></i></a>    
        </section>
        
        <section *ngIf="active()" class="nav-item2" >
          <a class="p-2 nav-link2" (click)="logout()" id="user" type="submit"> LOGOUT <i class="fas fa-sign-out-alt i-danger"></i></a>
        </section>
 
 
    </div>
  </div>
</nav>

