
<!-- home page -->
<section class="home container">
  <div class="row">
    <div class="row-left">
      <h3>hola!</h3>
      <h1>Soy <span>{{person.name}} {{person.last_name}}</span></h1>
      <h2> freelance web designer</h2>
      <div class="home-pg-btn">
        <span>{{person.about}}</span>
      </div>
      <div *ngIf="active()">
        <button type="button" class="btn btn-outline-warning" (click)="openModalEditPerfil(mymodal, person)">EDITAR
          PERFIL <i class="fa fa-pencil" aria-hidden="true"></i></button>
      </div>
    </div>

    <div class="row-right">
      <div class="img-border">
        <div class="img-container">
          <img [src]="person.img_perfil" [alt]="pAux.name" sizes="(min-width: 75em) 25vw, (max-width: 20em) 80vw, 50vw"
            width="450" height="auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of home page -->

<!-- Edit Perfil -->
<ng-template #mymodal let-modal>
  <div class="modal-header form-modal p-2 bg-modal">
    <h3 class="modal-title" id="modal-basic-title">Editar Informacion Personal</h3>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">X</span>
    </button>
  </div>

  <div class="modal-body form-modal bg-modal">
    <!-- <p>NOMBRE: <span>{{pAux.name}}</span></p>
        <input class="w-100 form-control" [(ngModel)]="pEdit.name" name="name" type="text" placeholder="{{pAux.name}}" require>
        <p></p>
        <p> APELLIDO:  <span>{{pAux.last_name}}</span></p>
        <input class="w-100 form-control" [(ngModel)]="pEdit.last_name" name="name" type="text" placeholder="{{pAux.last_name}}" require>
        <p></p> -->

    <div class="alert alert-warning text-inline" role="alert">
      La edicion de Nombre y Apellido no se encuentra Habilitada dado a que es un Portafolio Personal.
    </div>

    <p> SOBRE MI: <span>{{pAux.about}}</span></p>
    <textarea class="w-100 form-control" [(ngModel)]="pEdit.about" name="name" type="text" placeholder="{{pAux.about}}"
      require> </textarea>

    <p></p>
    <p>CAMBIAR IMAGEN</p>
    <div class="input-group mb-3">
      <input type="file" class="form-control" (change)="seleccionarFoto($event)" id="inputGroupFile01"
        placeholder="cargar">
    </div>
  </div>

  <div class="modal-footer form-modal bg-modal">
    <button type="button" class="btn btn-success" (click)="modal.close(editPerson())">Guardar</button>
  </div>

</ng-template>