<section id="skills" class="skills p-4">

  <div class="p-4">
    <div class=" container text-center">
      <div class="row">
        <div class="col-3" data-aos="flip-up" data-aos-duration="800">
          <div class="text-center p-2">
            <h1>SKILLS</h1>
            <div class="logo-skill"></div>
            <div *ngIf="active()">
              <button (click)="openModal(myModalNewSkill)" class="btn btn-outline-success w-100 p-2">Agregar Skill</button>
            </div>
          </div>
        </div>
        
        <div class="col-9">
          <div class="row row-cols-1 row-cols-md-4 g-2">
            <div class="col p-2 justify-content-center" *ngFor="let s of skills" data-aos="flip-up">
              <div class="card shadow rounded bg-color">
                <img [src]="s.imgUrl" height='120rem' width='' class="card-img-top" [alt]="s.name">
                <div class="card-body">
                  <h5 class="card-title text-uppercase">{{s.name}}</h5>

                  <ng-container *ngIf="s.level === 1; else second">
                    <p><span>Nivel:</span> BASICO</p>      
                    <div class = "progress">
                      <div class = "progress-bar w-30"></div>
                    </div>
                  </ng-container>

                  <ng-template #second>
                    <ng-container *ngIf="s.level === 2; else third">
                      <p class="card-text"><span>Nivel:</span> INTERMEDIO</p>              
                    <div class = "progress">
                      <div class = "progress-bar w-50"></div>
                    </div>
                    </ng-container>
                  </ng-template>

                  <ng-template #third>
                    <ng-container *ngIf="s.level === 3">
                      <p><span>Nivel:</span> ALTO</p>                   
                    <div class = "progress">
                      <div class = "progress-bar w-70"></div>
                    </div>
                    </ng-container>
                  </ng-template>

                  <ng-container *ngIf="s.level === 4">
                    <p><span>Nivel:</span> AVANZADO</p>
                    <div class = "progress">
                      <div class = "progress-bar w-90"></div>
                    </div>
                  </ng-container>

                </div>
              </div>
              <div *ngIf="active()">
                <button type="button" class="btn btn-outline-warning w-50" (click)="openModalSkill(mymodalSkill, s)">Editar <i
                    class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-outline-danger w-50" (click)="deleteSkill(s.idSkill, s.imgId)">Eliminar
                  <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- --------------------------------------------------------------------------------------------------------------------- -->
      <br>
      <br>
      <br>
      <!-- --------------------------------------------------------------------------------------------------------------------- -->
      
      <div class="container justify-content-center inline">
        <div class="row">

          <div class="col-3 p-4 ">
            <h3>IDIOMAS</h3>
            <div class="logo-lang"></div>
            <div *ngIf="active()" class="m-2">
              <button (click)="openModal(myModalNewLang)" class="btn btn-outline-success w-100 p-2">Agregar Lenguaje</button>
            </div>
          </div>
          <div class="col-9" >
            <div class="p-4 m-4 shadow rounded bg-color" *ngFor="let l of languages" data-aos="fade-up" data-aos-duration="1000"> 
            <section class="resume container language" >
              <div class="row ">
                <div class="item">
                  <div class="icon">
                    <i class="fas fa-globe"></i>
                  </div>

                  <ng-container *ngIf="l.level === 1">
                    <h2 class="p-2">{{l.name}}  -<span>BASICO </span></h2>
                  </ng-container>
        
                  <ng-container  *ngIf="l.level === 2">
                    <h2 class="p-2">{{l.name}}  - <span> INTERMEDIO </span></h2>
                  </ng-container>

                  <ng-container *ngIf="l.level === 3">
                    <h2 class="p-2">{{l.name}}  - <span> ALTO </span></h2>
                  </ng-container>

                  <ng-container *ngIf="l.level === 4">
                    <h2 class="p-2">{{l.name}}  - <span> AVANZADO </span></h2>
                  </ng-container>
                 
              
                </div>
              </div>
             
            </section>
            <div *ngIf="active()" class="buttons">
              <button type="button" class="btn btn-outline-warning w-50" (click)="openModalLenguaje(mymodal, l)">Editar
                <i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-outline-danger w-50" (click)="deleteLang(l.id_Lenguage)">Eliminar <i
                  class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
          </div>       
          </div>     
        </div>
      </div>
    </div>
  </div>
      <!-- --------------------------------------------------------------------------------------------------------------------- -->

      <!-- Editar Skill -->
      <ng-template #mymodalSkill let-modal>

        <div class="modal-header form-modal bg-modal">
          <h4 class="modal-title" id="modal-basic-title">Editar Dato Skill</h4>
          <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="white" aria-hidden="true">X</span>
          </button>
        </div>

        <div class="modal-body form-modal bg-modal">
          <p>NOMBRE SKILL: <span>{{skillAux.name}}</span></p>

          <input class="w-100 form-control text-dark" [(ngModel)]="skillEdit.name" name="name" type="text"
            placeholder="{{skillAux.name}}" require>
          <p></p>

          <p>NIVEL: <span>{{level}}</span></p>
          <select class="custom-select custom-select-lg mb-3 form-control W-100" [(ngModel)]="skillEdit.level">
            <option class="text-dark" selected value="1">Basico</option>
            <option class="text-dark" value="2">Intermedio</option>
            <option class="text-dark" value="3">Alto</option>
            <option class="text-dark" value="4">Avanzado</option>
          </select>
          <p></p>
          <p>CAMBIAR LOGO</p>
          <div class="input-group mb-3">
            <input type="file" class="form-control" (change)="seleccionarFoto($event)" id="inputGroupFile01"
              placeholder="cargar">
          </div>
        </div>
        <div class="modal-footer form-modal bg-modal">
          <button type="button" class="btn btn-outline-success" (click)="editSkill()">Edit</button>
        </div>
      </ng-template>

      <!-- Edit Lenguaje -->
      <ng-template #mymodal let-modal>
        <div class="modal-header form-modal bg-modal">
          <h4 class="modal-title" id="modal-basic-title">Editar Dato Lenguaje</h4>
          <button type="button" class="btn btn-outline-danger bg-modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="white" aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body form-modal bg-modal">
          <p>NOMBRE : <span>{{langAux.name}}</span></p>
          <input class="w-100 form-control text-dark" [(ngModel)]="langEdit.name" name="name" type="text"
            placeholder="{{langAux.name}}" require>

          <p></p>
          <p>NIVEL: <span>{{level}}</span></p>
          <select class="custom-select custom-select-lg mb-3 form-control text-dark w-100" [(ngModel)]="langEdit.level">
            <option class="text-dark" selected value="1">Basico</option>
            <option class="text-dark" value="3">Intermedio</option>
            <option class="text-dark" value="3">Alto</option>
          </select>
        </div>
        <div class="modal-footer form-modal bg-modal">
          <button type="button" class="btn btn-outline-success" (click)="modal.close(editLang())">Guardar</button>
        </div>
      </ng-template>

      <!--New Skill -->
      <ng-template #myModalNewSkill let-modal>

        <div class="modal-header form-modal bg-modal">
          <h4 class="modal-title" id="modal-basic-title">Editar Dato Skill</h4>
          <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="white" aria-hidden="true">X</span>
          </button>
        </div>

        <div class="modal-body form-modal bg-modal">
          <p>NOMBRE:</p>
          <input class="w-100 form-control text-dark" [(ngModel)]="skill.name" name="name" type="text"
            placeholder="Nombre" require>
          <p></p>

          <p>NIVEL:</p>
          <select class="custom-select custom-select-lg mb-3 form-control text-dark" [(ngModel)]="skill.level">
            <option class="text-dark" selected value=1>Basico</option>
            <option class="text-dark" value=2>Intermedio</option>
            <option class="text-dark" value=3>Alto</option>
            <option class="text-dark" value=4>Avanzado</option>
          </select>

          <p></p>
          <p>LOGO</p>
          <div class="input-group mb-3 bg-modal">
            <input type="file" class="form-control" (change)="seleccionarFoto($event)" id="inputGroupFile01"
              placeholder="cargar">
          </div>
        </div>

        <div class="modal-footer form-modal bg-modal">
          <button type="button" class="btn btn-outline-success" (click)="saveSkill()">Guardar</button>
        </div>

      </ng-template>

      <!-- New Lenguaje -->
      <ng-template #myModalNewLang let-modal>

        <div class="modal-header form-modal bg-modal">
          <h4 class="modal-title" id="modal-basic-title">Nuevo Info Lenguaje</h4>
          <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="white" aria-hidden="true">X</span>
          </button>
        </div>

        <div class="modal-body form-modal bg-modal">
          <p>NOMBRE:</p>
          <input class="w-100 form-control" [(ngModel)]="lang.name" name="name" type="text"
            placeholder="Nombre" require>
          <p></p>

          <p>NIVEL:</p>
          <select class="custom-select custom-select-lg mb-3 form-control text-dark"[(ngModel)]="lang.level">
            <option class="text-dark" selected value="1">Basico</option>
            <option class="text-dark" value="2">Intermedio</option>
            <option class="text-dark" value="3">Alto</option>
          </select>
        </div>
        <div class="modal-footer form-modal bg-modal">
          <button type="button" class="btn btn-outline-success" (click)="modal.close(saveLang())">Guardar</button>
        </div>
      </ng-template>

</section>