<section class="experiencia" id="experiencia">

  <div class="container p-2">

    <div class="row">

      <div class="col-3 " data-aos="flip-up">
        <div class="text-center title-exp">
          <h1>Experiencia Laboral</h1>
          <div class="logo-exp"></div>
          <div *ngIf="active()">
            <button (click)="openNewExp(myNewmodalExp)" class="btn btn-outline-success w-100 p2">Agregar Experiencia
              Laboral</button>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="card p-2 m-2 shadow rounded bg-color" *ngFor="let exp of experienceList" data-aos="flip-up">
          <div class="parent-exp" data-aos="fade-right">
            <div class="div1-exp"> <img [src]='exp.logoUrl' width="160" height="135" class="rounded mx-auto d-block"
                [alt]="exp.name">
            </div>
            <div class="div2-exp">
              <section class = "resume container-exp ">
                <div class = "row">
                  <div class = "item">
                    <div class = "icon">
                      <i class = "fas fa-briefcase"></i>
                    </div>
                    <span>{{exp.anio}}</span>
                    <h2>{{exp.name}}</h2>
                    <p class = "text">{{exp.description}}</p>
                  </div>
                </div>
                <div class="" *ngIf="active()">
                    <button type="button" class="btn btn-outline-warning w-50" (click)="openModalExp(mymodalExp, exp)">Editar <i
                        class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-danger w-50" (click)="delteExp(exp.id, exp.idImg)"> Eliminar <i
                        class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
              </section>
            </div> 
          </div>
        </div>
      </div>
    </div>


    <!-- MODAL EDIT -->
    <ng-template #mymodalExp let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Dato Experiencia Laboral</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">X</span>
        </button>
      </div>

      <div class="modal-body form-modal">


        <p>"Descripcion : {{expAux.description}}"</p>
        <textarea class="w-100" [(ngModel)]="expEdit.description" name="name" type="text"
          placeholder="{{expAux.description}}" require></textarea>
        <br>

        <div>
          <p for="year"> Año Anterior: "{{expAux.anio}}"</p>
          <input class="text-center" [(ngModel)]="expEdit.anio" placeholder="{{expAux.anio}}" name="year" type="number"
            min="2000" max="2050" required>
        </div>


        <p></p>
        <p>Cambiar Logo</p>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Upload</label>
          <input type="file" class="form-control" (change)="seleccionarFoto($event)" id="inputGroupFile01"
            placeholder="cargar">
        </div>

      </div>
      <br>
      <div class="modal-footer form-modal mb-12">
        <button type="button" class="btn btn-success" (click)="modal.close(editExp())">Ok</button>
      </div>
    </ng-template>

    <!-- MODAL NEW -->
    <ng-template #myNewmodalExp let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Agregar Nueva Experiencia Laboral</h4>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body form-modal">

        <label for="number">Año</label>
        <p></p>
        <input [(ngModel)]="exp.anio" name="year" type="number" min="2000" max="2050" required>
        <br>
        <br>
        <p for="description">Descripcion</p>
        <textarea [(ngModel)]="exp.description" name="description" placeholder="Descripcion de puesto y trabajo"
          required>
                <br>
                <br>
                <label for="logo">empresa</label>
                <textarea  placeholder="Logo TODO" ></textarea>

        <p></p>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Logo</label>
          <input type="file" class="form-control" (change)="seleccionarFoto($event)" id="inputGroupFile01"
            placeholder="cargar">
        </div>

      </div>
      <div class="modal-footer form-modal">
        <button type="button" class="btn btn-success" (click)=" modal.close(saveExperience())">Cargar</button>
      </div>
    </ng-template>

  </div>
</section>