*{
    margin: 0%;
    padding: 0%;
    font-style: var(--sans);
    color: white;
}

body{
  background-color: var(--black); 
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
border-radius: 5%;
background-color: var(--green-scroll);
outline: 1px solid var(--nero);
}
/*===== VARIABLES CSS =====*/

:root {
  /*===== Fuente y tipografia =====*/
  --poppins: 'Poppins', sans-serif;
  --sans: 'Open Sans', sans-serif;
  /*===== Colores =====*/
  --transition: all 0.4s ease;
  --green-scroll: #72b626;
  --green: #72b626;
  --black: rgb(14, 14, 14);
  --bg-dark: rgba(25, 37, 25, 0.133);
  --bg-modal: rgb(29, 29, 29);
  --bg-modal-border: rgb(44, 44, 44);
  --nero: #252525;
  --white: #fff;
  --warning: #ddda32;
  --danger: #d80a0a;
  /*===== z index =====*/
  --z-fixed: 100;
}

.bg-modal {
  background-color: var(--bg-modal);
  border-color: 4px solid var(--bg-modal-border);
}

span{
    color: var(--green);
}


input{
  color: black;
}
.white{
  color: var(--white);
}


a{
  text-decoration: none;
  color: white;
}

 button{
  background-color: var(--background-color1);
  color: white;
}

/* button */
.btn-green{
  border: none;
  margin: 1rem 0;
  border-radius: 35px;
  background: var(--green);
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  transition: var(--transition);
}
.btn-green:hover{
  opacity: 0.7;
}

.text{
  font-size: 1.05rem;
  color: #ffffff;
  line-height: 1.7;
}

/* --- btn danger --- */

.btn-delete>i,.btn-delete{
  color: var(--danger);
}

.btn-delete{
  padding: 4px;
  border-radius: 5px;
  border: var(--danger) solid 3px;
 }

 .btn-delete:hover,.btn-delete:hover>i{
  color: var(--danger2);
 }
  
 .btn-delete:hover{
  border: var(--danger2) solid 3px;
 }
 
/* --- btn edit --- */

.btn-edit>i,.btn-edit{
  color: var(--warning);
}

.btn-edit{
  padding: 4px;
  border-radius: 5px;
  border: var(--warning) solid 3px;
 }

 .btn-edit:hover,.btn-edit:hover>i{
  color: var(--warning2);
 }
  
 .btn-edit:hover{
  border: var(--warning2) solid 3px;
 }

/*### Nav ### */

.nav-item,.nav-item2 {
  text-align: center;
  padding: 0.6rem;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  width: 0;
  height: 2px;
  background: var(--green);
  transition: var(--transition);
}

.nav-item2::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  width: 0;
  height: 2px;
  background: var(--danger);
  transition: var(--transition);
}


.nav-item:hover::after,.nav-item2:hover::after {
  width: 100px;
}

.nav-link,.nav-link2 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: var(--transition);
}

.nav-link2:hover {
  color: var(--danger);
}
.i-danger{
  color: var(--danger);
}
.nav-link:hover {
  color: var(--green);
}
.i-grenn{
  color: var(--green);
}


.nav-active .nav-link {
  color: var(--green);
}

.row{
  display: contents;
}

.col-9{
  width: 100%;
}


.col-3{
  width: 100%;
}

nav {
  height: auto;
}

.card{
  padding: 0 1rem 0 1rem;
}

.bg-color{
  background-color: var(--bg-dark);
}

@media (max-width: 600px) {

  .row {
    display: block;
  }

}


@media screen and (min-width: 500px){
  .title > h2{
      font-size: 6rem;
  }
  .title div h2{
      font-size: 3rem;
  }
}

@media screen and (min-width: 992px){
  /* .container{
      width: 88vw;
  } */


}
@media screen and (min-width: 1200px){
  .container{
      width: 85vw;
  }
  
  .row{
    display: flex;
  }

  .col-9{
    width: 80%;
  }
  
  .col-3{
    width: 20%;
  }
  
  nav{
    height: 5rem; 
  }

  .card{
    padding: 5px 1rem 0  1rem;
  }

}
